IO_LOC  "pwm_o[7]" 79;
IO_PORT "pwm_o[7]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[6]" 86;
IO_PORT "pwm_o[6]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[5]" 49;
IO_PORT "pwm_o[5]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[4]" 55;
IO_PORT "pwm_o[4]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[3]" 48;
IO_PORT "pwm_o[3]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[2]" 51;
IO_PORT "pwm_o[2]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[1]" 54;
IO_PORT "pwm_o[1]" IO_TYPE=LVCMOS33;

IO_LOC  "pwm_o[0]" 56;
IO_PORT "pwm_o[0]" IO_TYPE=LVCMOS33;

IO_LOC  "vauxn15_i" 20;
IO_PORT "vauxn15_i" IO_TYPE=LVCMOS33;

IO_LOC  "vauxp15_i" 17;
IO_PORT "vauxp15_i" IO_TYPE=LVCMOS33;

IO_LOC  "vauxn14_i" 31;
IO_PORT "vauxn14_i" IO_TYPE=LVCMOS33;

IO_LOC  "vauxp14_i" 30;
IO_PORT "vauxp14_i" IO_TYPE=LVCMOS33;

IO_LOC  "vauxn7_i" 29;
IO_PORT "vauxn7_i" IO_TYPE=LVCMOS33;

IO_LOC  "vauxp7_i" 26;
IO_PORT "vauxp7_i" IO_TYPE=SSTL25_I;

IO_LOC  "rst_i" 27;
IO_PORT "rst_i" IO_TYPE=LVCMOS33;

IO_LOC  "clk_i" 4;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
